:root {
  --main-color: #5b2386;
  --second-main-color: #ffff;
  --sub-color: #babcbe;
  --point-color: #fcee21;
  --quote-color: #f5df4d;
}

button:focus,
a:focus {
  outline: 2px solid #4d90fe;
  outline-offset: 2px;
}

/* 폰트 */
@font-face {
  font-family: "OTEnjoystoriesBA 700";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "OTEnjoystoriesBA 400";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gmarket Sans 700";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gmarket Sans 500";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gmarket Sans 400";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 공통 */
/* 정렬 class */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 개별 */
/* body 배경컬러 */
body {
  background-color: var(--main-color);
  min-width: 360px;
}

/* header */
header {
  margin-top: 120px;
  width: 100%;
  height: 265px;
  position: sticky;
  top: 0;
  z-index: 500;
  background-color: var(--main-color);
}

/* 1만 시간의 법칙 타이틀 */
/* 시계 */
header > img:nth-of-type(1) {
  position: absolute;
  width: 261px;
  height: 265px;
  z-index: 100;
}

/* 1만 시간의 법칙 logo */
header > img:nth-of-type(2) {
  position: absolute;
  width: 564px;
  height: 112px;
  z-index: 200;
}

/* main  */
main {
  width: auto;
  margin-top: 52px;
  /* border: 1px solid black; */
}

/* Section-1. 1만 시간의 법칙의 필요성 */
/* 인용구 article */
.subject > article:first-of-type > q {
  font-family: "OTEnjoystoriesBA 700";
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: var(--quote-color);
}

/* 정의 article */
.definition-group {
  position: relative;
  width: 485px;
  height: 85px;
  margin-top: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 쌍따옴표 가상 요소 */
.quotation-66::before {
  content: "";
  display: inline-block;
  width: 36px;
  height: 32px;

  background: url("../img/66.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.quotation-99::after {
  content: "";
  display: inline-block;
  width: 36px;
  height: 32px;
  background: url("../img/99.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* 1만 시간의 법칙 정의 */
dfn {
  font-family: "GmarketSansBold";
  font-size: 1.5rem;
  line-height: 100%;
  text-align: center;
  color: var(--second-main-color);
}

/* 1만 시간의 법칙 설명 */
.definition-group > p {
  width: 373px;
  height: 100%;
  font-family: "Gmarket Sans 400";
  font-size: 1.125rem;
  line-height: 1.9rem;
  text-align: center;
  vertical-align: middle;

  color: var(--second-main-color);
}

/* Section-2. 1만 시간 계산 입력 및 출력 */
.io {
  margin-top: 100px;
}

form > div > p,
.third-line > p {
  font-family: "Gmarket Sans 400";
  font-size: 1.5rem;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;

  color: var(--second-main-color);
}

/* input 태그 스타일 */
input {
  width: 228px;
  height: 56px;
  background: var(--second-main-color);
  border-radius: 8px;

  font-family: "Gmarket Sans 400";
  font-size: 1.5rem;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: black;
}

input:focus {
  font-family: "Gmarket Sans 400";
  font-size: 1.5rem;
  line-height: 100%;
  vertical-align: middle;
  text-align: center;
  color: black;
}

input::placeholder {
  font-family: "Gmarket Sans 400";
  font-size: 1.5rem;
  line-height: 100%;
  vertical-align: middle;
  text-align: center;
  color: var(--sub-color);
}

/* input 포커스 시 placeholder 투명 */
/* Chrome, Safari, Opera, Edge (Webkit) */
input:focus::placeholder {
  color: transparent;
}

/* Firefox 19+ */
input:focus::-moz-placeholder {
  color: transparent;
}

/* Firefox 4-18 */
input:focus:-moz-placeholder {
  color: transparent;
}

/* IE 10+ */
input:focus:-ms-input-placeholder {
  color: transparent;
}

/* Edge */
input:focus::-ms-input-placeholder {
  color: transparent;
}

/* 라인 내부 요소 간의 좌우 간격 */
.first-line,
.second-line {
  gap: 20px;
}

/* input 박스 간의 상하 간격 */
.second-line {
  margin-top: 20px;
}

/* second 라인 내부 요소 간의 좌우 간격 */
/* 추후 반응형 웹 구현(2줄->3줄) span */
.third-line {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* form 제출 버튼 */
.input-btn {
  margin-top: 120px;

  position: relative;
  width: 567px;
  height: 64px;
}

/* input-btn 뒤 클릭 손모양 가상요소 */
.input-btn::after {
  content: "";
  display: inline-block;
  width: 64px;
  height: 72px;
  position: absolute;
  left: 100%; /* 버튼의 오른쪽 끝에 정렬 */
  top: 14px; /* 버튼 위에서 14px 아래 */
  margin-left: 7px; /* 버튼 오른쪽과 7px 간격 */
  background: url("../img/click.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* 공통 버튼 style css */
/* 나는 며칠동안 훈련을 해야~ */
/* 훈련하가기 Go! Go! */
/* 종료하고 진짜 훈련하러~(모달 내부) */
.btn-common {
  /* position: relative; */
  font-family: "GmarketSansBold";
  font-size: 1.5rem;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;

  border-radius: 12px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);

  color: var(--main-color);
  background: var(--point-color);
}

/* 1만 시간 계산 출력 결과 */
.result-group {
  margin-top: 142px;
  height: 164px;
  justify-content: space-between;
}

.result-group > p {
  font-family: "Gmarket Sans 400";
  font-size: 1.5rem;
  line-height: 100%;

  vertical-align: middle;
  text-align: center;
  color: var(--second-main-color);

  gap: 12px;
}

/* 사용자 입력 단어와 시간 */
.highlight {
  font-family: "GmarketSansBold";
  font-size: 4.5rem;
  line-height: 100%;

  vertical-align: middle;
  text-align: center;
}

.hidden {
  display: none;
}

/* Section-3. 결과 출력 후 버튼 그룹 */
.button-group {
  margin-top: 120px;
  width: 570px;
  height: 64px;
  gap: 12px;
}

/* 훈련하러가기 GO! GO! 버튼 */
.train-btn {
  width: 365px;
  height: 64px;
  padding: 20px 50px;
}

/* 공유하기 버튼 */
.share-btn {
  width: 193px;
  height: 64px;
  padding: 20px 50px;

  background: var(--second-main-color);
}

/* footer */
footer {
  margin-top: 120px;
  margin-bottom: 106px;
}

footer > img {
  width: 168px;
  height: 36px;
  margin-bottom: 20px;
}

footer > p {
  font-family: "Noto Sans KR";
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;

  text-align: center;
  vertical-align: middle;
  color: var(--second-main-color);
}

footer p:last-child {
  margin-top: 3px;
}

/* 모달 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: var(--second-main-color);
  border-radius: 8px;
  width: 800px;
  height: 816px;
  padding: 80px 146px;
  box-sizing: border-box; /* 패딩 포함 크기 계산 */

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 화이팅 문구 */
.modal-content > p > em {
  width: 396px;
  height: 106px;
  font-family: "OTEnjoystoriesBA 700";
  font-size: 6rem;
  line-height: 100%;

  text-align: center;
  vertical-align: top;

  color: var(--main-color);
}

/* 당신의 꿈을 응원합니다! */
.modal-content > p:nth-of-type(2) {
  width: 396px;
  height: 40px;
  margin-top: 15px;
  font-family: "OTEnjoystoriesBA 700";
  font-size: 2.25rem;
  line-height: 100%;
  text-align: center;
  vertical-align: middle;
  color: var(--main-color);
}

/* 모달 내 라이켓 이미지 */
.modal-content > img {
  width: 438px;
  height: 342px;
  object-fit: cover;
  margin-top: 40px;
}

/* 종료하고 훈련하러 가기 버튼 */
.size {
  margin-top: 60px;
  width: 100%;
  height: 64px;
  border-radius: 12px;
  padding: 20px 50px;

  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 반응형 */
/* 850px - first break-point */
/* Section-2. 1만 시간 계산 입력 및 출력 */
/* 2줄->3줄 */
@media only screen and (max-width: 850px) {
  .first-line,
  .second-line {
    gap: 12px;
  }

  .second-line {
    margin-top: 12px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}

/* 730px - second break-point */
/* form 제출 버튼 */
@media only screen and (max-width: 730px) {
  .input-btn {
    margin-top: 80px;
    width: 60vw;
    height: 128px;
  }

  /* input-btn 뒤 클릭 손모양 가상요소 */
  .input-btn::after {
    top: 70%;
    left: 100%;
    margin-left: 7px;
    margin-top: 14px;
    transform: translateY(-50%);
    width: 43px;
    height: 48px;
  }

  .btn-common {
    /* font-size: 0.875rem; */
    line-height: 1.2;
    padding-left: 35px;
    padding-right: 35px;
  }
}

/* 600px - third break-point */
/* header 로고 이미지 */
/* 1만 시간 계산 출력 영역 */
/* Section-3. 결과 출력 후 버튼 그룹 */
@media only screen and (max-width: 600px) {
  header {
    height: 130px;
    margin-top: 40px;
    background-color: var(--main-color);
  }

  /* 1만 시간의 법칙 타이틀 */
  /* 시계 */
  header > img:nth-of-type(1) {
    width: 109.23px;
    height: 110.38px;
  }

  /* 1만 시간의 법칙 logo */
  header > img:nth-of-type(2) {
    width: 278px;
    height: 54.94px;
  }

  /* 1만 시간 계산 출력 결과 */
  .result-group {
    margin-top: 68px;
    height: 64px;
    justify-content: space-between;
  }

  .result-group > p {
    font-size: 1rem;
  }

  /* 사용자 입력 단어와 시간 */
  .highlight {
    font-size: 3rem;
  }

  .hidden {
    display: none;
  }

  /* Section-3. 결과 출력 후 버튼 그룹 */
  .button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  /* 훈련하러가기 GO! GO! 버튼 */
  .train-btn {
    width: 60vw;
  }

  /* 공유하기 버튼 */
  .share-btn {
    width: 60vw;
    height: 100%;
  }
}

/* 550px - forth break-point */
/* 인용구, 정의 */
/* 1만 시간 입출력 영역 */
/* footer */
@media only screen and (max-width: 550px) {
  /* Section-1. 1만 시간의 법칙의 필요성 */
  /* 인용구 article */
  .subject > article:first-of-type > q {
    width: 297px;
    height: 24px;

    font-family: "OTEnjoystoriesBA 700";
    font-size: 1.375rem;
    line-height: 2.5rem;
    color: var(--quote-color);
  }

  .definition-group {
    width: 330px;
    height: 68px;
    margin-top: 32px;
  }

  /* 쌍따옴표 가상 요소 */
  .quotation-66::before {
    width: 20px;
    height: 18px;
  }

  .quotation-99::after {
    width: 20px;
    height: 18px;
  }

  /* 1만 시간의 법칙 정의 */
  dfn {
    font-size: 0.875rem;
  }

  /* 1만 시간의 법칙 설명 */
  .definition-group > p {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  /* Section-2. 1만 시간 계산 입력 및 출력 */
  .io {
    margin-top: 60px;
  }

  form > div > p,
  .third-line > p {
    font-size: 0.875rem;
  }

  input {
    width: 156px;
    height: 38px;
    font-size: 0.875rem;
  }

  input:focus {
    font-size: 0.875rem;
  }

  input::placeholder {
    font-size: 0.875rem;
  }

  .first-line,
  .second-line {
    gap: 12px;
  }

  .second-line {
    margin-top: 12px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .second-line > p {
    margin-bottom: 12px;
  }

  /* second 라인 내부 요소 간의 좌우 간격 */
  /* 추후 반응형 웹 구현(2줄->3줄) span */
  .third-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .second-line > p {
    text-align: left;
    margin: 0;
  }

  /* 훈련하러가기 GO! GO! 버튼 */
  .train-btn {
    height: 128px;
  }

  /* footer */
  footer > img {
    margin-bottom: 20px;
  }

  footer > p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 400px) {
  /* 공통 */
  /* header 정렬 */
  header {
    height: 130px;
    margin-top: 40px;
    background-color: var(--main-color);
  }

  /* 1만 시간의 법칙 타이틀 */
  /* 시계 */
  header > img:nth-of-type(1) {
    width: 109.23px;
    height: 110.38px;
  }

  /* 1만 시간의 법칙 logo */
  header > img:nth-of-type(2) {
    width: 278px;
    height: 54.94px;
  }

  /* main  */
  main {
    margin-top: 32px;
  }

  /* Section-1. 1만 시간의 법칙의 필요성 */
  /* 인용구 article */
  .subject > article:first-of-type > q {
    width: 297px;
    height: 24px;

    font-family: "OTEnjoystoriesBA 700";
    font-size: 1.375rem;
    line-height: 2.5rem;
    color: var(--quote-color);
  }

  .definition-group {
    width: 330px;
    height: 68px;
    margin-top: 32px;
  }

  /* 쌍따옴표 가상 요소 */
  .quotation-66::before {
    width: 20px;
    height: 18px;
  }

  .quotation-99::after {
    width: 20px;
    height: 18px;
  }

  /* 1만 시간의 법칙 정의 */
  dfn {
    font-size: 0.875rem;
  }

  /* 1만 시간의 법칙 설명 */
  .definition-group > p {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  /* Section-2. 1만 시간 계산 입력 및 출력 */
  .io {
    margin-top: 60px;
  }

  form > div > p,
  .third-line > p {
    font-size: 0.875rem;
  }

  input {
    width: 156px;
    height: 38px;
    font-size: 0.875rem;
  }

  input:focus {
    font-size: 0.875rem;
  }

  input::placeholder {
    font-size: 0.875rem;
  }

  .first-line,
  .second-line {
    gap: 12px;
  }

  .second-line {
    margin-top: 12px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .second-line > p {
    margin-bottom: 12px;
  }

  /* second 라인 내부 요소 간의 좌우 간격 */
  /* 추후 반응형 웹 구현(2줄->3줄) span */
  .third-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .second-line > p {
    text-align: left;
    margin: 0;
  }

  /* form 제출 버튼 */
  .input-btn {
    margin-top: 80px;

    width: 240px;
    height: 72px;
  }

  /* input-btn 뒤 클릭 손모양 가상요소 */
  .input-btn::after {
    top: 70%;
    left: 100%;
    margin-left: 7px;
    margin-top: 14px;
    transform: translateY(-50%);
    width: 43px;
    height: 48px;
  }

  .btn-common {
    font-size: 0.875rem;
    line-height: 1.2;
    padding-left: 35px;
    padding-right: 35px;
  }

  /* 1만 시간 계산 출력 결과 */
  .result-group {
    margin-top: 68px;
    height: 64px;
    justify-content: space-between;
  }

  .result-group > p {
    font-size: 0.75rem;
  }

  /* 사용자 입력 단어와 시간 */
  .highlight {
    font-size: 1.5rem;
  }

  .hidden {
    display: none;
  }

  /* Section-3. 결과 출력 후 버튼 그룹 */
  .button-group {
    margin-top: 52px;
    width: 313px;
    height: 46px;
    gap: 8px;
    display: flex;
    flex-direction: row;
  }

  /* 훈련하러가기 GO! GO! 버튼 */
  .train-btn {
    width: 203px;
    height: 46px;
    padding: 16px 24px;
  }

  /* 공유하기 버튼 */
  .share-btn {
    width: 102px;
    height: 46px;
    font-size: 0.875rem;
    padding: 16px 24px;
  }

  /* footer */
  footer {
    margin-top: 60px;
    margin-bottom: 48px;
  }

  footer > img {
    width: 125px;
    height: 28px;
    margin-bottom: 20px;
  }

  footer > p {
    font-size: 0.5625rem;
  }

  /* 모달 */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;

    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    width: 350px;
    height: 500px;
    padding: 40px 42px;
  }

  /* 화이팅 문구 */
  .modal-content > p > em {
    font-size: 4rem;
  }

  /* 당신의 꿈을 응원합니다! */
  .modal-content p:nth-of-type(2) {
    font-size: 2.25rem;
  }

  /* 모달 내 라이켓 이미지 */
  .modal-content > img {
    width: 240px;
    height: 188px;
    margin-top: 24px;
  }

  .size {
    margin-top: 24px;
    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
